<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Snowflake Connection Form</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  </head>
  <body>
    <div class="container">
      <header>
        <img src="{{ url_for('static', filename='logo.webp') }}" alt="Ask Y Logo" class="logo">
      </header>
      <h1>Snowflake Account Access</h1>
      <p class="info-text">We will create a storage integration, database, stage, file format, and table. Your GA-4 data will be imported into the Snowflake table.</p>

      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          <div class="flash-messages">
            {% for category, message in messages %}
              <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
          </div>
        {% endif %}
      {% endwith %}

      <form action="{{ url_for('pages.form_snowflake_conn') }}" method="post">
        <div class="form-group">
          <label for="user">User:</label>
          <input type="text" id="user" name="user" placeholder="Enter user" class="form-control">
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" placeholder="Enter password" class="form-control">
        </div>
        <div class="form-group">
          <label for="account">Account:</label>
          <input type="text" id="account" name="account" placeholder="Enter account" class="form-control">
        </div>
        <button type="submit" class="btn">Submit</button>
      </form>
      <p class="process-info">The process will take a couple of seconds after you press submit...</p>
    </div>
  </body>
</html>
