<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Select Features</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  </head>
  <body>
    <div class="container">
      <h1>Select Features</h1>
      <form action="{{ url_for('pages.form_select_columns') }}" method="post">
        <div class="form-group">
          <label>Select the features you want:</label>
          <div class="checkbox-group">
            {% for column in all_columns %}
              <div>
                <input type="checkbox" id="{{ column }}" name="fields" value="{{ column }}">
                <label for="{{ column }}">{{ column }}</label>
              </div>
            {% endfor %}
          </div>
        </div>
        <button type="submit" class="btn">Submit</button>
      </form>
    </div>
  </body>
</html>
