<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Result</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  </head>
  <body>
    <div class="container">
      <h1>We need some additional information to get access to your Bgquery data</h1>
      <form action="{{ url_for('pages.form_project') }}" method="post">
        <div class="form-group">
          <label for="project_id">Project Name:</label>
          <input type="text" id="project_id" name="project_id" placeholder="Enter project id" >
        </div>
        <div class="form-group">
          <label for="dataset_id">Dataset ID:</label>
          <input type="text" id="dataset_id" name="dataset_id" placeholder="Enter dataset_id" >
        </div>
        <button type="submit" class="btn">Submit</button>
      </form>
      <h2>The process will take a couple of seconds after you press submit ...</h2>
    </div>
  </body>
</html>
