<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Select Features</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  </head>
  <body>
    <div class="container">
      <header>
        <img src="{{ url_for('static', filename='logo.webp') }}" alt="Ask Y Logo" class="logo">
      </header>
      <h1>Select Features</h1>
      <form action="{{ url_for('pages.form_select_columns') }}" method="post">
        <div class="form-group">
          <p class="form-instructions">Select the data features that are likely to influence the outcome you're analyzing. Consider factors like user demographics, behaviors, and interactions that may provide valuable insights for predictive modeling. The right features can improve the accuracy and relevance of your model.</p>
          <label class="form-instructions">Choose the features that are meaningful for your model building:</label>
          <div class="label-spacing"></div>
          <div class="checkbox-group">
            {% for column in all_columns %}
              <div>
                <input type="checkbox" id="{{ column }}" name="fields" value="{{ column }}">
                <label for="{{ column }}">{{ column }}</label>
              </div>
            {% endfor %}
          </div>
        </div>
        <button type="submit" class="btn">Submit</button>
      </form>
    </div>
  </body>
</html>
