<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Processing</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  </head>
  <body>
    <div class="container">
      <h1>Processing...</h1>
      <h1>selected_fields: {{ selected_fields }}...</h1>
      <h1>session_var: {{ session_var }}...</h1>
      <ul>
      {% for field in selected_fields %}
        <li>{{ field }}</li>
      {% endfor %}
      </ul>
    </div>
  </body>
</html>
