<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Snowflake Unnest</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  </head>
  <body>
    <div class="container">
      <header>
        <img src="{{ url_for('static', filename='logo.webp') }}" alt="Ask Y Logo" class="logo">
      </header>
      <h1>Data Successfully Imported to Snowflake</h1>
      <p class="info-text">We have chosen Snowflake for processing GA4 data due to its robust security features and efficient cost control. Snowflake's pay-as-you-go model helps manage expenses, while its advanced security ensures your data is well-protected. This combination makes Snowflake an ideal choice for reliable and cost-effective data processing.</p>
      <p class="info-text">Next Step: Unnesting Data for Simplified Analysis and Model Building</p>
      <form action="{{ url_for('pages.snowflake_unnest') }}" method="post">
        <button type="submit" class="btn">Unnest</button>
      </form>
      <p class="process-info">The process will take a couple of seconds after you press the submit button...</p>
    </div>
  </body>
</html>
